:root {
  --transition-open-aside: .25s linear;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template: auto 1fr / 14rem auto 14rem;
  background: #131524;
  height: 100vh;
  color: #F5DEB3;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 896px) {
  body {
    grid-template: auto 1fr auto / auto 0fr;
    transition: var(--transition-open-aside);
  }
  
  body[data-open] {
    grid-template: auto 1fr auto / auto 1fr
  }
}